.cut-corner {
  width: 50vw;
  height: 10vw;
  max-height: 110px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 29%;
  left: -55px;
  background: url(../clipped-rect.svg) no-repeat center;
  background-size: 87% 100%;
}

.team1 {
  position: relative;
  right: 20%;
  transition: all 1s;
}
