.nav__container {
  width: 97vw;
  padding-top: 5px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__item {
  text-decoration: none;
  display: inline;
}

.nav__item > a {
  font-weight: 300;
  text-decoration: none;
  color: #f3f3f3;
}