.d_flex {
  display: flex;
  justify-content: space-between;

  .flex_grow01 {
    flex-grow: 0.1;
  }

  .flex_grow03 {
    flex-grow: 0.3;
  }
}

.hex-container {
  width: 100%;
  height: 85vh;
}

.hex__initial {
  display: flex;
  position: absolute;
  justify-content:center;
  align-items: center;
  background: url(../images/hex.svg) no-repeat center;
  background-size: contain;
  transition: all 1.5s
}

.hex__desktop0 {
  width: 70px;
  height: 70px;
  top: 82%;
  left: 10%;
  opacity: 0;
  transition: 1s;
}

.hex__desktop1 {
  width: calc(5vw + 50px);
  height: 115px;
  top: calc(49vh + 42px + 2vw + 70px);
  left: calc(45vw - 180px - 5vw - 45px)
}

.hex__desktop2 {
  width: calc(5vw + 90px);
  height: 160px;
  top: calc(49vh + 40px);
  left: calc(45vw - 180px);
}

.hex__desktop3 {
  width: calc(12vw + 148px);
  max-width: 265px;
  height: calc(12vw + 148px);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.hex__desktop4 {
  width: calc(5vw + 90px);
  height: 160px;
  top: calc(50vh - 125px - 70px);
  left: calc(57vw + 30px);
}

.hex__desktop5 {
  width: calc(5vw + 50px);
  height: 115px;
  top: calc(50vh - 125px - 70px - 45px);
  left: calc(61vw + 120px);
}

.hex__desktop6 {
  width: 70px;
  height: 70px;
  top: 7%;
  left: 80%;
  opacity: 0;
  transition: 1s;
}