.d_flex {
  display: flex;
  justify-content: space-between;

  .flex_grow01 {
    flex-grow: 0.1;
  }

  .flex_grow03 {
    flex-grow: 0.3;
  }
}

.hex-container {
  width: 100%;
  height: 85vh;
}

.hex__initial {
  display: flex;
  position: absolute;
  justify-content:center;
  align-items: center;
  background: url(../hex.svg) no-repeat center;
  background-size: contain;
  transition: all 1.5s
}

.hex__desktop0 {
  width: 70px;
  height: 70px;
  top: 82%;
  left: 10%;
  opacity: 0;
  transition: 1s;
}

.hex__desktop1 {
  width: 115px;
  height: 115px;
  top: 70%;
  left: 19%
}

.hex__desktop2 {
  width: 160px;
  height: 160px;
  top: 53%;
  left: 28%
}

.hex__desktop3 {
  width: 260px;
  height: 260px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.hex__desktop4 {
  width: 160px;
  height: 160px;
  top: 17%;
  left: 58%;
}

.hex__desktop5 {
  width: 115px;
  height: 115px;
  top: 7%;
  left: 70%;
}

.hex__desktop6 {
  width: 70px;
  height: 70px;
  top: 7%;
  left: 80%;
  opacity: 0;
  transition: 1s;
}