.cut-corner {
  width: calc(53vw - 50px);
  height: 10vw;
  max-height: 110px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  background: url(../images/clipped-rect.svg) no-repeat center;
  background-size: 86% 100%;
}

.cut-corner__left {
  top: calc(50vh - 4vw - 75px);
  left: -36px;
}

.cut-corner__right {
  transform: scale(-1, -1);
  top: 51%;
  right: -38px
}

.team {
  position: relative;
  transition: all 1s;
  right: 20%;

  &.team2 {
    transform: scale(-1, -1);
  }
}

